<h1>Basic Carousel</h1>

<div class="carousel" id="carousel">
  <div class="carousel-stage" id="carousel-stage">
    <div class="carousel-item">
      1
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      2
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      3
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      4
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      5
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      6
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      7
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
    <div class="carousel-item">
      8
      <!--<img src="https://picsum.photos/235/240/?random" alt="">-->
    </div>
  </div>
  <div class="carousel-controls">
    <button id="prev-button">Prev</button>
    <button id="next-button">Next</button>
  </div>
</div>