// styling for carousel

.carousel {
  position: relative;
  overflow: hidden;
  width: 960px;

  &-stage {
    position: relative;
    white-space: nowrap;
    left: 0;
  }

  &-item {
    width: 230px;
    height: 240px;
    background-color: #000;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    color: red;
  }

  img {
    width: 100%;
    height: auto;
  }
}

